/*
	iOS/Mobile Only
 */
body {
  -webkit-text-size-adjust: 150%;
}
.float-center {
  width:80%;
}

.spacer {
  height: 50px;
}

ul {
  margin-top: 70px;
  -webkit-text-size-adjust: 300%;
}
li label{
  padding-right: 50px;
/*  background: url('images/arrow.png') no-repeat -10px 15px;*/
}
li {
  height: 140px;
}

li img {
  display:none;
}

#content.float-center {
  -webkit-text-size-adjust: 250%;
  width: 90%;
}
.nav.float-center {
  width: 90%;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For iPad portrait layouts only */
  .spacer {
    height: 100px;
  }
  ul {
    margin-top: 100px;
    -webkit-text-size-adjust: 200%;
  }
  li {
    height: 100px;
  }
  #content.float-center {
    -webkit-text-size-adjust: 180%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For iPad landscape layouts only */
  .spacer {
    height: 50px;
  }
  ul {
    margin-top: 40px;
    -webkit-text-size-adjust: 150%;
  }
  li {
    height: 70px;
  }
  #content.float-center {
    -webkit-text-size-adjust: 150%;
  }
}