/* @override 
	http://localhost/~gad/geoffreyd.github.com/style.css
*/

* { margin: 0; padding: 0; }
body {
  font-family: Cabin, 'Lucida Grande', Verdana, sans-serif;
  background-color: #d9dbdb;
  color: #444;
  font-size: 16px;
}

.no-overflow {
  overflow:hidden;
}

.spacer {
  height: 100px;
}

.nav.float-center {
  width: 600px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 40px;
  font-family: 'Cabin';
}

H1 {
  font-family: 'Ubuntu', serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  text-shadow: #e5e5ee 0 1px 0;
  line-height: 1.2;
  color: #5b5b5b;
  text-align: center;
}

h2 {
  color: #5b5b5b;
  font-family: 'Raleway', serif;
  margin-top: 16px;
  margin-bottom: 8px;
}

p {
  margin-top: 16px;
}

.float-center {
  width: 300px;
  margin-left: auto ;
  margin-right: auto ;
}
#content.float-center {
  width: 550px;
  margin-top: 50px;
}

ul {
  margin-top: 50px;
  display: table;
}

a {
  text-decoration: none;
  color: #425a77;
  text-shadow: #cfd3b6 0 -1px 0;
}

li {
  height: 40px;
  display:table-row;
}
li label, li span {
  display:table-cell;
}
li label{
  text-align: right;
  padding-right: 20px;
  font-family: 'Raleway', serif;
  font-size: 18px;
}
li span {
  font-family: 'Inconsolata', "Courier New", Courier, mono;
  font-size: 25px;
  display: inline-block;
  position:relative;
  top: 2px;
}

li img {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -transition: all 1s ease-out;

  border:none;
  position: absolute;
  top: 150px;
  right: -480px;
  -moz-box-shadow: -5px 5px 10px #AAA;
  -webkit-box-shadow: -5px 5px 10px #AAA;
  box-shadow: -5px 5px 10px #AAA;
}
/*@media only screen and (device-width: 768px) {
  li img {
    display:none;
  }
}*/

/*.peek-frame {*/
li:hover img {
  right: -80px;
  -moz-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  transform-origin: top right;
  -moz-transform-origin: top right;
  -webkit-transform-origin: top right;
}

body>p {
  margin-top: 50px;
  width: 400px;
  margin-left: auto ;
  margin-right: auto ;
}